CompileFlags:
  CompilationDatabase: build/
  Add:
    - -std=c++23
    - -stdlib=libc++

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - cert-*
      - clang-analyzer-*
      - cppcoreguidelines-*
      - misc-*
      - modernize-*
      - performance-*
      - portability-*
      - readability-*
    Remove:
      - readability-braces-around-statements
      - readability-identifier-length
      - readability-math-missing-parentheses
      - readability-uppercase-literal-suffix
      - cppcoreguidelines-avoid-c-arrays
      - modernize-avoid-c-arrays

---
If:
  PathMatch: (deps|src/tests|src/benchmarks)/.*
Diagnostics:
  Suppress: '*'
Index:
  Background: Skip
